<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lotto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min_ori.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Lotto.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Member" asp-action="Clock">Lotto</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <!-- 左側選單按鈕 -->
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item me-2">
                            <a class="btn btn-outline-primary shadow-sm" asp-area="" asp-controller="Member" asp-action="Index">遊戲介紹</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-primary shadow-sm" asp-area="" asp-controller="Member" asp-action="Querylotto">開獎結果</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-primary " asp-area="" asp-controller="Member" asp-action="Findinfo">個人錢包</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-primary " asp-area="" asp-controller="Member" asp-action="Betgame">買彩券</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-primary " asp-area="" asp-controller="Member" asp-action="Findtran">交易紀錄</a>
                        </li>
                    </ul>
                    <!-- 右側「登出」按鈕 -->
                    <ul class="navbar-nav">
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-warning rounded-pill px-3 py-2 shadow-sm" asp-area="" asp-controller="Member" asp-action="Logout">登出</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Lotto - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
